@font-face {
  font-family: "Harry P";
  src: url("/fonts/HARRYP__.TTF");
}

.harryP {
  font-family: "Harry P";
}

.reveal section img.img-clean {
  background: none;
  border: none;
  box-shadow: none;
}

img.img-mid {
  vertical-align: middle;
}

.reveal h3.title {
  font-family: "Harry P";
}

input[type='text'] {
  width: 50%;
  line-height: 1;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 5px;
  font-size: 1em;
}

input[type='submit'] {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-size: 1em;
}

.reveal p code {
  border: 2px solid #aaa;
  padding: 0 .25em;
  background-color: rgba(255,255,255, 0.08);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}